.dice {
    list-style-type: none;

    li {
        display: inline-block;
        margin-right: 10px;
    }
}

.tf-dice {
    cursor : pointer;
    background: image-url('dice-sprites.jpg') no-repeat;
    display: block;
    background-size: 180px 130px;
    height : 63px;
    width: 60px;
    margin: 0 auto;
}

.tf-dice-6 {
    background-position: -120px 0;
}

.tf-dice-4 {
    background-position: -60px 0;
}
.tf-dice-8 {
    background-position: 0 -65px;
}

.tf-dice-12 {
    background-position: -60px -65px;
}

.tf-dice-10 {
    background-position: -120px -65px;
}