.grid {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.grid-row {
    position: relative;
    white-space: nowrap;
}

.grid-column {
    display: inline-block;
    border: 1px solid #000;
    background: none;

    &.active {
        background-color: #000000;

        &.color-1 {
            background-color: #FF0000;
        }

        &.color-2 {
            background-color: #00FF00;
        }

        &.color-3 {
            background-color: #0000FF;
        }

        &.color-4 {
            background-color: #FFF;
        }

        &.color-5 {
            background-color: #440044;
        }

        &.color-6 {
            background-color: #880000;
        }

        &.color-7 {
            background-color: #555;
        }

        &.color-8 {
            background-color: #FF55FF;
        }

        &.color-9 {
            background-color: #990099;
        }
    }
}