.tf-log {
    list-style-type: none;
    max-height : 1000px;
    overflow-y : scroll;
    padding: 10px;

    .user {
        color: #0000FF;
        padding-right: 3px;
    }
}

.row.log {
    height: calc(100% - 186px);
    margin-top: 10px;

    div[class*="col-"] {
        border: 0;
    }
}