.tf-settings {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    height: 30px;
    width: 30px;
    z-index: 1000;
}

.settings-dialog {
    padding-top: 10px;

    .ngdialog-buttons {
        padding-top: 4px;

        div {
            padding: 0;
            background: none;
            border: 0;

            button {
                margin-left: 5px;
            }
        }
    }
}