.clear {
    clear: both;
    height: 0;
    width: 100%;
}

body, html {
    height : 100%;
}

.tf-wrapper {
    padding: 10px;
    height: 100%;

    & > .row {
        height: 100%;
    }

}

[class*="col-"] {
    /* height : 100%; */
    background-color: #cdcdcd;
    border: 1px solid #000;
}

.actions {
    height: 100%;
}