<div class="container-fluid settings-dialog">
    <form novalidate="" name="settings">
        <div class="row">
            <div class="col-xs-12">
                <label>Name</label>
                <input type="text" id="name" name="name" ng-model="data.player.name" placeholder="Player Name" />
            </div>
        </div>
        <div class="row ngdialog-buttons">
            <div class="col-xs-12">
                <button style="float:right;" class="btn btn-primary" ng-click="closeThisDialog(true)">Save</button>
                <button style="float:right;" class="btn btn-default" ng-click="closeThisDialog(false)">Cancel</button>
            </div>
        </div>
    </form>
</div>